<header class="site-header">

  <nav class="navbar">
    <div class="container">
      

      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
        <a class="navbar-brand navbar-logo" href="https://starksources.github.io/innovationhub"><img src="static/img/images.png" height=80px;width=150px; padding-left:0px;></a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/activities/">Activities</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/about/">About Clubs</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/get-started/">Get Started</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/resources/">Resources</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/connect/">Connect</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/report/#">Report</a>
        <a class="nav-link" href="https://starksources.github.io/innovationhub/faq/">FAQ</a>
      </div>

             <a class="navbar-logo navbar-right" href="https://starksources.github.io/innovationhub"> </a>

    </div>
  </nav>

</header>
