<!DOCTYPE html>
<html>
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
  {% include head.html %}

  <body>
    
    <div class="loader">

    {% include gtm.html %}

    {% include header.html %}
      
    

    {% include jumbotron.html %}
{% include flexslider-posts.html %}
   

    

    <div class="page-content">
      <div class="home">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include js.html %}
    </div>

  </body>

</html>
